
.container{
  height: 100vh;
}
.sect{
  height: 70px;
}
#entete_de_page{
  background-color: #558ED5;
}
#section0{
  background-color: #C4BD97;
}
.section{
height: 140px;

}
#section1{
  background-color: #C6D9F1;

}
#section2{
  background-color: #E5B8B7;
}
#section3{
  background-color:  #C2D59A;
}
#section4{
  background-color: #FACAA1;
}
.section5{
  height: 100px;
  background-color: #00AFEF;
}
#pied_de_page{
  background-color: #B1A0C5;
}
@media (min-width:768px) and (max-width:992px ){
  #section1,#section2,#section3,#section4{
      height: 88px;
  }
  .section5{
    height: 75px;
  }
  .sect{
    height: 70px;
  }
}
@media (max-width:767px){
  #section1,#section2,#section3,#section4{
      height: 55px;
  }
  .section5{
    height: 55px;
  }
  .sect{
    height: 55px;
  }
}
